h1 {color:red; font-weight:bold}
h2 {color:blue; font-size:2em; font-family:Helvetica}
h3 {font-style:Italic; font-weight:bold; color:red; font-size:2em}
h4 {text-align:center}
ul {list-style-type:disc; font-size:1em; color:brown; font-weight:bold}
h5 {color:brown; font-size:3em}
